{{>header_autogen}}
// template: api-rest

unit {{classname}}.Rest;

interface

uses
  System.SysUtils,
  Neon.Core.Persistence,
  whizaxe.rest.CommandHandler,
  whizaxe.http.types,
  whizaxe.rest.Request,
  {{classname}}Interface;

type
{{#operations}}

  T{{classname}}NeededEvent = function(): I{{classname}} of object;

  // {$RTTI EXPLICIT METHODS([vcPublic])}
  T{{classname}}Rest = class
  private
    FApi: I{{classname}};
    FOn{{classname}}Needed: T{{classname}}NeededEvent;
    FNeonConfiguration: INeonConfiguration;
    procedure AskForApi;
  public
    {{#operation}}
    /// Operation {{{operationId}}}
    /// <summary>{{{summary}}}</summary>{{#remarks}}
    /// <remarks>{{.}}</remarks>{{/remarks}}
    {{#allParams}}
    /// {{baseName}}: {{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
    {{/allParams}}
    [RestApi('{{httpMethod}}', '{{{path}}}'){{#authMethods}}, '*'{{/authMethods}}]
    procedure {{operationId}}(ARequest: TRestRequest; var AResult: THTTPResult){{#isDeprecated}}; deprecated{{/isDeprecated}};

    {{/operation}}

    constructor Create();

    property On{{classname}}Needed: T{{classname}}NeededEvent read FOn{{classname}}Needed write FOn{{classname}}Needed;
  end;

implementation

uses
  whizaxe.serialization,
  whizaxe.OpenAPI.validators,
  whizaxe.REST.Exceptions,
  Neon.Core.Types,
  System.TypInfo,
  {{classname}}{{#imports}}{{#-first}},{{/-first}}
  {{{import}}}{{^-last}},{{/-last}}{{/imports}};

{ T{{classname}} }

constructor T{{classname}}Rest.Create();
begin
  inherited;
  {{^variableConvertUnderscoreToCamelCase}}FNeonConfiguration := nil;{{/variableConvertUnderscoreToCamelCase}}{{#variableConvertUnderscoreToCamelCase}}
  FNeonConfiguration := TNeonConfiguration.Default;
  FNeonConfiguration.SetMemberCase(TNeonCase.SnakeCase);
  FNeonConfiguration.SetMembers([TNeonMembers.Fields, TNeonMembers.Properties]);
  FNeonConfiguration.SetIgnoreFieldPrefix(True);
  FNeonConfiguration.SetVisibility([ mvPublic, mvPublished]);
  FNeonConfiguration.SetUseUTCDate(false);
  FNeonConfiguration.SetEnumAsInt(false);{{/variableConvertUnderscoreToCamelCase}}
end;

procedure T{{classname}}Rest.AskForApi;
begin
  if not Assigned(FApi) then
  begin
    if Assigned(On{{classname}}Needed) then
      FApi := On{{classname}}Needed
    else
      raise EWxRestServiceException.Create('{{classname}} not initialized');
  end;
end;

{{#operation}}
procedure T{{classname}}Rest.{{operationId}}(ARequest: TRestRequest; var AResult: THTTPResult);
{{#vendorExtensions.x-delphi-needs-var}}
var
{{/vendorExtensions.x-delphi-needs-var}}
{{#allParams}}
  {{{paramName}}}: {{{dataType}}};
{{/allParams}}
  {{#returnType}}responseObj: {{{.}}};{{/returnType}}
begin
  AskForApi;
{{#vendorExtensions.x-delphi-returns-model}}
  responseObj := nil;
{{/vendorExtensions.x-delphi-returns-model}}
{{#pathParams}}
  {{#isInteger}}{{paramName}} := ARequest.GetPathParam('{{baseName}}', {{defaultValue}}, {{required}});{{/isInteger}}
  {{#isNumber}}{{paramName}} := ARequest.GetPathParam('{{baseName}}', {{defaultValue}}, {{required}});{{/isNumber}}
  {{#isBoolean}}{{paramName}} := ARequest.GetPathParam('{{baseName}}', {{defaultValue}}, {{required}});{{/isBoolean}}
  {{#isString}}{{paramName}} := ARequest.GetPathParam('{{baseName}}', '{{{defaultValue}}}', {{required}});{{/isString}}
{{/pathParams}}
{{#queryParams}}
  {{#isInteger}}{{paramName}} := ARequest.GetQueryParam('{{baseName}}', {{defaultValue}}, {{required}});{{/isInteger}}
  {{#isNumber}}{{paramName}} := ARequest.GetQueryParam('{{baseName}}', {{defaultValue}}, {{required}});{{/isNumber}}
  {{#isBoolean}}{{paramName}} := ARequest.GetQueryParam('{{baseName}}', {{defaultValue}}, {{required}});{{/isBoolean}}
  {{#isString}}{{paramName}} := ARequest.GetQueryParam('{{baseName}}', '{{{defaultValue}}}', {{required}});{{/isString}}
{{/queryParams}}
{{#bodyParam}}
  {{paramName}} := ARequest.GetBodyParam<{{{dataType}}}>({{required}}, FNeonConfiguration);
{{/bodyParam}}

{{#pathParams}}
  {{#isInteger}}TRestParamValidator.ValidateIntegerParam({{paramName}}, {{#minimum}}true, {{minimum}}{{/minimum}}{{^minimum}}false, 0{{/minimum}}, {{#maximum}}true, {{maximum}}{{/maximum}}{{^maximum}}false, 0{{/maximum}});{{/isInteger}}
  {{#isNumber}}TRestParamValidator.ValidateCurrencyParam({{paramName}}, {{#minimum}}true, {{minimum}}{{/minimum}}{{^minimum}}false, 0{{/minimum}}, {{#maximum}}true, {{maximum}}{{/maximum}}{{^maximum}}false, 0{{/maximum}}, 0);{{/isNumber}}
  {{#isString}}TRestParamValidator.ValidateStringParam({{paramName}}, {{required}}, {{#minLength}}{{minLength}}{{/minLength}}{{^minLength}}0{{/minLength}}, {{#maxLength}}{{maxLength}}{{/maxLength}}{{^maxLength}}0{{/maxLength}});{{/isString}}
{{/pathParams}}
{{#queryParams}}
  {{#isInteger}}TRestParamValidator.ValidateIntegerParam({{paramName}}, {{#minimum}}true, {{minimum}}{{/minimum}}{{^minimum}}false, 0{{/minimum}}, {{#maximum}}true, {{maximum}}{{/maximum}}{{^maximum}}false, 0{{/maximum}});{{/isInteger}}
  {{#isNumber}}TRestParamValidator.ValidateCurrencyParam({{paramName}}, {{#minimum}}true, {{minimum}}{{/minimum}}{{^minimum}}false, 0{{/minimum}}, {{#maximum}}true, {{maximum}}{{/maximum}}{{^maximum}}false, 0{{/maximum}}, 0);{{/isNumber}}
  {{#isString}}TRestParamValidator.ValidateStringParam({{paramName}}, {{required}}, {{#minLength}}{{minLength}}{{/minLength}}{{^minLength}}0{{/minLength}}, {{#maxLength}}{{maxLength}}{{/maxLength}}{{^maxLength}}0{{/maxLength}});{{/isString}}
{{/queryParams}}

{{#vendorExtensions.x-delphi-needs-free}}
  try
{{/vendorExtensions.x-delphi-needs-free}}
{{#bodyParam}}
    {{^isArray}}{{paramName}}.Validate;{{/isArray}}
{{/bodyParam}}
{{#headerParams}}
    {{#isInteger}}{{paramName}} := ARequest.GetHeaderParam('{{baseName}}', {{defaultValue}}, {{required}});{{/isInteger}}
    {{#isNumber}}{{paramName}} := ARequest.GetHeaderParam('{{baseName}}', {{defaultValue}}, {{required}});{{/isNumber}}
    {{#isBoolean}}{{paramName}} := ARequest.GetHeaderParam('{{baseName}}', {{defaultValue}}, {{required}});{{/isBoolean}}
    {{#isString}}{{paramName}} := ARequest.GetHeaderParam('{{baseName}}', '{{{defaultValue}}}', {{required}});{{/isString}}
{{/headerParams}}
{{#returnType}}
    responseObj := FApi.{{operationId}}({{#allParams}}{{{paramName}}}, {{/allParams}}ARequest.Authorization);
    AResult.ContentType('{{vendorExtensions.x-codegen-response-content-type}}');{{#isResponseBinary}}
    AResult.SetResult(hs2xx_OK, TStringStream(responseObj).DataString, 'OK');{{/isResponseBinary}}
    {{^isResponseBinary}}AResult.SetResult(hs2xx_OK, responseObj, 'OK', FNeonConfiguration);{{/isResponseBinary}}
{{/returnType}}
{{^returnType}}
    FApi.{{operationId}}({{#allParams}}{{{paramName}}}, {{/allParams}}ARequest.Authorization);
    AResult.SetResult(hs2xx_OK);
{{/returnType}}
{{#vendorExtensions.x-delphi-needs-free}}
  finally
{{#vendorExtensions.x-delphi-returns-model}}
    responseObj.Free;
{{/vendorExtensions.x-delphi-returns-model}}
{{#bodyParam}}
    {{paramName}}.Free;
{{/bodyParam}}
  end;
{{/vendorExtensions.x-delphi-needs-free}}
end;

{{/operation}}

{{/operations}}

end.
