{{>header_autogen}}

unit {{classname}}.Rest;

interface

uses
  System.SysUtils,
  uRestCommandHandler,
  uHTTPClient,
  uRestRequest;

type
{{#operations}}
  T{{classname}}Rest = class 
  private
  public
    {{#operation}}
    /// Operation {{{operationId}}}
    /// <summary>{{{summary}}}</summary>{{#remarks}}
    /// <remarks>{{.}}</remarks>{{/remarks}} 
    {{#allParams}}   
    /// {{paramName}}: {{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
    {{/allParams}}   
    procedure {{operationId}}(ARequest: TRestRequest; var AResult: THTTPResult){{#isDeprecated}} @deprecated{{/isDeprecated}};
    
    {{/operation}}
  end;

implementation

uses
  whizaxe.serialization{{#imports}}{{#-first}},{{/-first}}
  {{{import}}}{{^-last}},{{/-last}}{{/imports}};
  
{ T{{classname}} }

{{#operation}}
procedure T{{classname}}Rest.{{operationId}}(ARequest: TRestRequest; var AResult: THTTPResult);
var
  {{#returnType}}responseObj: {{.}};{{/returnType}}
{{#allParams}}
  {{paramName}}: TRestParam<{{dataType}}>;
{{/allParams}}
{{#bodyParam}}
  model : {{dataType}};
{{/bodyParam}}

begin
{{#pathParams}}
  {{paramName}} := ARequest.GetPathParam<{{dataType}}>('{{paramName}}', '{{defaultValue}}', {{required}});
{{/pathParams}}
{{#bodyParam}}
  model := ARequest.GetBodyParam<{{dataType}}>({{required}});
{{/bodyParam}}
{{#queryParams}}
  {{paramName}} := ARequest.GetQueryParam<{{dataType}}>('{{paramName}}', '{{defaultValue}}', {{required}});
{{/queryParams}}
{{#headerParams}}
  {{paramName}} := ARequest.GetHeaderParam<{{dataType}}>('{{paramName}}', '{{defaultValue}}', {{required}});
{{/headerParams}}
  responseObj := {{classname}}.{{operationId}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
  AResult.SendResponse(respObj);
end;

{{/operation}}

  
{{/operations}}
end.
