{{>header_autogen}}

unit {{classname}}Interface;

interface

type
{{#operations}}
  I{{classname}} = interface
    ['{355B831D-FB9B-4912-A81A-A22F9C6B01FB}']
    // TODO: dodac generowanie GUID!
    // {{apiguid}}

    {{#operation}}
    /// Operation {{{operationId}}}
    /// <summary>{{{summary}}}</summary>
    /// <remarks>{{remarks}}</remarks>
    
    {{#pathParams}}   
    /// {{paramName}}: {{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
    {{/pathParams}}   
    procedure {{{operationId}}}({{#pathParams}}const {{paramName}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/pathParams}}){{#isDeprecated}} @deprecated{{/isDeprecated}};
    {{/operation}}
  end;
{{/operations}}

implementation

end.
