{{>header_for_modifications}}

unit {{classname}};

interface

uses
  System.SysUtils,
  {{classname}}Interface{{#imports}}{{#-first}},{{/-first}}
  {{{import}}}{{^-last}},{{/-last}}{{/imports}};

type
{{#operations}}
  T{{classname}} = class(TInterfacedObject, I{{classname}})
  public
    {{#operation}}
    /// Operation {{{operationId}}}
    /// <summary>{{{summary}}}</summary>
    /// <remarks>{{remarks}}</remarks>   
    {{#allParams}}   
    /// {{paramName}}: {{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
    {{/allParams}}   
    {{#returnType}}function {{{operationId}}}({{#allParams}}const {{{paramName}}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/allParams}}): {{{returnType}}}{{#isDeprecated}}; deprecated{{/isDeprecated}};{{/returnType}}{{^returnType}}
    procedure {{{operationId}}}({{#allParams}}const {{{paramName}}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/allParams}}){{#isDeprecated}} @deprecated{{/isDeprecated}};{{/returnType}}
    {{/operation}}
  end;

implementation

uses
  {{x-codegen-delphi-demo-code-api-uses}}
  whizaxe.rest.Exceptions;

{ T{{classname}} }

{{#operation}}

{{#returnType}}function T{{classname}}.{{{operationId}}}({{#allParams}}const {{{paramName}}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/allParams}}): {{{returnType}}};
{{^vendorExtensions.x-codegen-delphi-demo-code-api}}
begin
end;
{{/vendorExtensions.x-codegen-delphi-demo-code-api}}
{{{vendorExtensions.x-codegen-delphi-demo-code-api}}}
{{/returnType}}
{{^returnType}}procedure T{{classname}}.{{{operationId}}}({{#allParams}}const {{{paramName}}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/allParams}});
{{^vendorExtensions.x-codegen-delphi-demo-code-api}}
begin
end;
{{/vendorExtensions.x-codegen-delphi-demo-code-api}}
{{{vendorExtensions.x-codegen-delphi-demo-code-api}}}
{{/returnType}}

{{/operation}}

{{/operations}}

end.
