{{>header_for_modifications}}
// template: api-interface

unit {{classname}};

interface

uses
  System.SysUtils,
  superobject,
  {{classname}}Interface{{#imports}}{{#-first}},{{/-first}}
  {{{import}}}{{^-last}},{{/-last}}{{/imports}};

type
{{#operations}}
  T{{classname}} = class(TInterfacedObject, I{{classname}})
  public
    {{#operation}}
    /// Operation {{{operationId}}}
    /// <summary>{{{summary}}}</summary>
    /// <remarks>{{remarks}}</remarks>
    {{#allParams}}
    /// {{baseName}}: {{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
    {{/allParams}}
    {{#returnType}}function {{{operationId}}}({{#allParams}}const {{{paramName}}}: {{{dataType}}}; {{/allParams}}const authorization: ISuperObject): {{{returnType}}}{{#isDeprecated}}; deprecated{{/isDeprecated}};{{/returnType}}{{^returnType}}
    procedure {{{operationId}}}({{#allParams}}const {{{paramName}}}: {{{dataType}}}; {{/allParams}}const authorization: ISuperObject){{#isDeprecated}} @deprecated{{/isDeprecated}};{{/returnType}}
    {{/operation}}
  end;

implementation

uses
  {{x-delphi-demo-code-api-uses}}
  whizaxe.rest.Exceptions;

{ T{{classname}} }

{{#operation}}

{{#returnType}}function T{{classname}}.{{{operationId}}}({{#allParams}}const {{{paramName}}}: {{{dataType}}}; {{/allParams}}const authorization: ISuperObject): {{{returnType}}};
{{^vendorExtensions.x-delphi-demo-code-api}}
begin
  raise EWxRestNotImplementedException.Create('');
end;
{{/vendorExtensions.x-delphi-demo-code-api}}
{{{vendorExtensions.x-delphi-demo-code-api}}}
{{/returnType}}
{{^returnType}}procedure T{{classname}}.{{{operationId}}}({{#allParams}}const {{{paramName}}}: {{{dataType}}}; {{/allParams}}const authorization: ISuperObject);
{{^vendorExtensions.x-delphi-demo-code-api}}
begin
  raise EWxRestNotImplementedException.Create('');
end;
{{/vendorExtensions.x-delphi-demo-code-api}}
{{{vendorExtensions.x-delphi-demo-code-api}}}
{{/returnType}}

{{/operation}}

{{/operations}}

end.
