{{>header_for_modifications}}

unit {{classname}};

interface
uses
  System.SysUtils,
  uRestCommandHandler,
  uHTTPClient,
  uRestRequest;

type
{{#operations}}
  T{{classname}} = class 
  private
  public
    {{#operation}}
    /// Operation {{{operationId}}}
    /// <summary>{{{summary}}}</summary>
    /// <remarks>{{remarks}}</remarks>
    
    {{#pathParams}}   
    ///  <param name="Ajson">Json do zdeserializowania</param>
    ///  <param name="AOwnsObject">Przekazywane do OwnsObject TObjectList


    /// {{paramName}}: {{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
    {{/pathParams}}   
    procedure Do{{{operationId}}}({{#pathParams}}const {{paramName}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/pathParams}}){{#isDeprecated}} @deprecated{{/isDeprecated}};
    procedure {{operationId}}(ARequest: TRestRequest; var AResult: THTTPResult){{#isDeprecated}} @deprecated{{/isDeprecated}};
    {{/operation}}
  end;


implementation

{ T{{classname}} }

{{#operation}}
procedure T{{classname}}.Do{{operationId}}({{#pathParams}}const {{paramName}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/pathParams}});
begin
end;

procedure T{{classname}}.{{operationId}}(ARequest: TRestRequest; var AResult: THTTPResult);
begin
end;

{{/operation}}


{{/operations}}
end.
