object MainForm: TMainForm
  Left = 0
  Top = 0
  Caption = '{{appName}} test form'
  ClientHeight = 316
  ClientWidth = 651
  Color = clBtnFace
  Font.Charset = DEFAULT_CHARSET
  Font.Color = clWindowText
  Font.Height = -11
  Font.Name = 'Tahoma'
  Font.Style = []
  OldCreateOrder = False
  OnCreate = FormCreate
  OnDestroy = FormDestroy
  PixelsPerInch = 96
  TextHeight = 13
  object edtServerPort: TLabeledEdit
    Left = 24
    Top = 24
    Width = 121
    Height = 21
    EditLabel.Width = 58
    EditLabel.Height = 13
    EditLabel.Caption = 'server port:'
    TabOrder = 0
    Text = '{{serverPort}}{{^serverPort}}8080{{/serverPort}}'
  end
  object btnStart: TButton
    Left = 168
    Top = 22
    Width = 75
    Height = 25
    Caption = 'start'
    TabOrder = 1
    OnClick = btnStartClick
  end
  object Memo1: TMemo
    AlignWithMargins = True
    Left = 8
    Top = 60
    Width = 635
    Height = 248
    Margins.Left = 8
    Margins.Top = 60
    Margins.Right = 8
    Margins.Bottom = 8
    Align = alClient
    Lines.Strings = (
      'Memo1')
    ScrollBars = ssVertical
    TabOrder = 2
  end
end
