{{>header_for_modifications}}

program {{programName}}Srv;

uses
  Vcl.Forms,
  ServiceMain in 'ServiceMain.pas' {ServiceMain{{programName}}: TService},
{{#apiInfo}}{{#apis}}
  {{#operations}}{{classname}} in 'apis\{{classname}}.pas'{{^-last}}, {{/-last}}{{/operations}}
{{/apis}}{{/apiInfo}};

{$R *.res}

begin
  if not Application.DelayInitialize or Application.Installing then
    Application.Initialize;
  Application.CreateForm(TServiceMain{{programName}}, ServiceMain{{programName}});
  Application.Run;
end.
