{{>header_for_modifications}}

program {{programName}}App;

uses
  Vcl.Forms,
  FormMain in 'FormMain.pas' {MainForm},{{#models}}{{#model}}
  {{classFilename}} in 'models\{{classFilename}}.pas',{{/model}}{{/models}}{{#apiInfo}}{{#apis}}{{#operations}}
  {{apiFilenamePrefix}}{{classname}}Interface in 'apis\{{apiFilenamePrefix}}{{classname}}Interface.pas',
  {{apiFilenamePrefix}}{{classname}}.Rest in 'apis\{{apiFilenamePrefix}}{{classname}}.Rest.pas',
  {{apiFilenamePrefix}}{{classname}} in 'apis\{{apiFilenamePrefix}}{{classname}}.pas'{{^-last}}, {{/-last}}{{/operations}}{{/apis}}{{/apiInfo}},
  {{programName}}Server in '{{programName}}Server.pas';

{$R *.res}

begin
  ReportMemoryLeaksOnShutdown := true;
  Application.Initialize;
  Application.MainFormOnTaskbar := True;
  Application.CreateForm(TMainForm, MainForm);
  Application.Run;
end.
