unit {{programName}}Server;

interface

uses
  whizaxe.rest.server,
  whizaxe.rest.CommandHandler,{{#apiInfo}}{{#apis}}{{#operations}}
  {{classname}}.Rest,{{/operations}}{{/apis}}{{/apiInfo}}
   
  whizaxe.http.types;

type
  T{{programName}}Server = class(TRESTServer)
  private{{#apiInfo}}{{#apis}}{{#operations}}
    F{{classname}}Rest: T{{classname}}Rest;{{/operations}}{{/apis}}{{/apiInfo}}

    procedure hndAssignHandlers(ACmdHandlers: TRestCommandHandlers);

{{#apiInfo}}{{#apis}}{{#operations}}
    function GetOn{{classname}}Needed: T{{classname}}NeededEvent;
    procedure SetOn{{classname}}Needed(const Value: T{{classname}}NeededEvent);
{{/operations}}{{/apis}}{{/apiInfo}}
  public
    constructor Create;
    destructor Destroy; override;

{{#apiInfo}}{{#apis}}{{#operations}}
    property On{{classname}}Needed: T{{classname}}NeededEvent read GetOn{{classname}}Needed write SetOn{{classname}}Needed;{{/operations}}{{/apis}}{{/apiInfo}}
  end;

implementation

{ T{{programName}}Server }

constructor T{{programName}}Server.Create;
begin
  inherited;
  self.OnAssignHandlers := hndAssignHandlers;{{#apiInfo}}{{#apis}}{{#operations}}
  F{{classname}}Rest := T{{classname}}Rest.Create;{{/operations}}{{/apis}}{{/apiInfo}}
end;

destructor T{{programName}}Server.Destroy;
begin{{#apiInfo}}{{#apis}}{{#operations}}
  F{{classname}}Rest.Free;{{/operations}}{{/apis}}{{/apiInfo}}
  inherited;
end;

procedure T{{programName}}Server.hndAssignHandlers(ACmdHandlers: TRestCommandHandlers);
begin{{#apiInfo}}{{#apis}}{{#operations}}
  ACmdHandlers.RegisterApi(F{{classname}}Rest);{{/operations}}{{/apis}}{{/apiInfo}}
//  ACmdHandlers.AddCommand(THTTPMethods.hmGET, '', FBasketManagementApiRest.addItemToBasket);
end;

{{#apiInfo}}{{#apis}}{{#operations}}
function T{{programName}}Server.GetOn{{classname}}Needed: T{{classname}}NeededEvent;
begin
  result := F{{classname}}Rest.On{{classname}}Needed;
end;

procedure T{{programName}}Server.SetOn{{classname}}Needed(const Value: T{{classname}}NeededEvent);
begin
  F{{classname}}Rest.On{{classname}}Needed := Value;
end;

{{/operations}}{{/apis}}{{/apiInfo}}
end.
