{{>header_for_modifications}}

unit {{programName}}Client;

interface
uses
  System.SysUtils,
  whizaxe.openapi.config,
  Rest.Types,
  Rest.Client,
  Rest.Authenticator.OAuth,
  rest.Authenticator.Basic,{{#apiInfo}}{{#apis}}{{#operations}}
  {{classname}}Interface{{^-last}}, {{/-last}}{{/operations}}{{/apis}}{{/apiInfo}}{{#models}}{{#-first}},{{/-first}}{{#model}}
  {{classFilename}}{{/model}}{{^-last}}, {{/-last}}{{/models}}
  ,Model.ExtInfo
  ,Model.UNKNOWN_BASE_TYPE
  ,Generics.Collections
  ,System.Classes;
  
  
type
  T{{programName}}Client = class(TInterfacedObject, {{#apiInfo}}{{#apis}}{{#operations}}
    I{{classname}}{{^-last}}, {{/-last}}{{/operations}}{{/apis}}{{/apiInfo}})
  private
    FOnAuthenticate: TAuthenticateEvent;
    FConfig: TOpenApiConfig;
    {{#authMethods}}{{#isBasicBearer}}
    FAuth: TOAuth2Authenticator;
    {{/isBasicBearer}}{{/authMethods}}
    procedure SetOnAuthenticate(const Value: TAuthenticateEvent);
    function GetRESTRequestMethod(const AMethodName: string): TRESTRequestMethod;
    function MakeRestClient: TRestClient;
    function TryExecuteRequest(ARequest: TRestRequest): boolean;
  public
    constructor Create(AConfig: TOpenApiConfig);
    property OnAuthenticate: TAuthenticateEvent read FOnAuthenticate write SetOnAuthenticate;

    {{#apiInfo}}{{#apis}}{{#operations}}
    { {{baseName}} }

    {{#operation}}
    /// Operation {{{operationId}}}
    /// <summary>{{{summary}}}</summary>
    /// <remarks>{{remarks}}</remarks>

    {{#pathParams}}
    /// {{paramName}}: {{description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
    {{/pathParams}}
    {{#returnType}}function {{{operationId}}}({{#allParams}}const {{paramName}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/allParams}}): {{{returnType}}}{{#isDeprecated}} @deprecated{{/isDeprecated}};{{/returnType}}
    {{^returnType}}procedure {{{operationId}}}({{#allParams}}const {{paramName}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/allParams}}){{#isDeprecated}} @deprecated{{/isDeprecated}};{{/returnType}}
    
    {{/operation}}
    {{/operations}}{{/apis}}{{/apiInfo}}
  end;

implementation

uses
  whizaxe.serialization,
  whizaxe.Rest.exceptions;

{ TApiClient }

constructor T{{programName}}Client.Create(AConfig: TOpenApiConfig);
var
  lClient: TRESTClient;
  auth: TOAuth2Authenticator;
begin
  FConfig := AConfig;
 
  {{#authMethods}}
  {{#isBasicBearer}}
  FAuth := TOAuth2Authenticator.Create(nil);
  FAuth.AccessToken := '<put your token here>';
  FAuth.TokenType := TOAuth2TokenType.ttBEARER;
  FAuth.OnAuthenticate := OnAuthenticate;
  {{/isBasicBearer}}
  {{/authMethods}}

end;

function T{{programName}}Client.GetRESTRequestMethod(const AMethodName: string): TRESTRequestMethod;
var
  methodName: string;
begin
  methodName := AMethodName.ToUpper();
  if methodName = 'POST' then
    Result := rmPOST
  else if methodName = 'PUT' then
    Result := rmPUT
  else if methodName = 'DELETE' then
    Result := rmDELETE
  else if methodName = 'PATCH' then
    Result := rmPATCH
  else
    Result := rmGET;
end;

procedure T{{programName}}Client.SetOnAuthenticate(const Value: TAuthenticateEvent);
begin
  FOnAuthenticate := Value;
end;

function T{{programName}}Client.MakeRestClient: TRestClient;
begin
  Result := TRESTClient.Create(FConfig.basePath);
  {{#authMethods}}{{#isBasicBearer}}
  Result.Authenticator := FAuth;
  {{/isBasicBearer}}{{/authMethods}}
end;

function T{{programName}}Client.TryExecuteRequest(ARequest: TRestRequest): boolean;
var
  Error: TError;
  RestErrorModel: TWxRestErrorModel;
begin
  Result := false;
  try
    ARequest.Execute;
  except
    on E: Exception do
    begin
      if assigned(ARequest.Response) then
      begin
        RestErrorModel := TSerializer.JsonToObject<TWxRestErrorModel>(ARequest.Response.Content);
        //TODO zrobić case z tworzeniem różnych typów wyjątków zależnie od statusCode
        raise EWxRestException.Create(RestErrorModel.message, ARequest.Response.StatusCode, RestErrorModel.errorCode);
      end
      else
        raise EWxRestException.Create(E.Message, 0)
    end;
  end;

  if ARequest.Response.StatusCode <> 200 then
  begin
    try
      Error := TSerializer.JsonToObject<TError>(ARequest.Response.Content);
      if Error.messageIsSet then
        raise EWxRestException.Create(Error.Message,
          ARequest.Response.StatusCode, '')
      else
        raise EWxRestException.Create(ARequest.Response.Content,
          ARequest.Response.StatusCode);
    finally
      Error.Free;
    end;
  end
  else
    Result := true;
end;

{{#apiInfo}}{{#apis}}{{#operations}}
{{#operation}}
{{#returnType}}function T{{programName}}Client.{{{operationId}}}({{#allParams}}const {{paramName}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/allParams}}): {{{returnType}}};{{/returnType}}{{^returnType}}procedure T{{programName}}Client.{{{operationId}}}({{#allParams}}const {{paramName}}: {{{dataType}}}{{^-last}}; {{/-last}}{{/allParams}});{{/returnType}}
var 
  restRequest: TRestRequest;
  restClient: TRestClient;
begin
  restClient := MakeRestClient;
  {{#returnType}}Result := nil;{{/returnType}}
  try
    restRequest := TRESTRequest.Create(restClient);
    restRequest.Resource := '{{path}}';
    restRequest.Method := GetRESTRequestMethod('{{httpMethod}}');
    {{#pathParams}}
    restRequest.AddParameter('{{paramName}}', {{paramName}}{{^isString}}.ToString(){{/isString}}, pkURLSEGMENT);
    {{/pathParams}}
    {{#queryParams}}
    restRequest.AddParameter('{{paramName}}', {{paramName}}{{^isString}}.ToString(){{/isString}}, pkQUERY);
    {{/queryParams}}
    {{#bodyParams}}
    restRequest.AddBody(TSerializer.ObjectToJSON({{paramName}}), TRESTContentType.ctAPPLICATION_JSON);
    {{/bodyParams}}
    
    {{#returnType}}if {{/returnType}}TryExecuteRequest(restRequest){{#returnType}} then
      Result := {{#isArray}}TSerializer.JsonToObjectList<T{{returnBaseType}}>{{/isArray}}{{^isArray}}TSerializer.JsonToObject<{{returnType}}>{{/isArray}}(restRequest.Response.Content);{{/returnType}}
   
  finally
    restClient.Free;
  end;
end;


{{/operation}}
{{/operations}}{{/apis}}{{/apiInfo}}

end.