unit ClientMainForm;

interface

uses
  Winapi.Windows, Winapi.Messages, System.SysUtils, System.Variants, System.Classes, Vcl.Graphics,
  Vcl.Controls, Vcl.Forms, Vcl.Dialogs, VirtualTrees, Vcl.StdCtrls, Vcl.ExtCtrls,
  System.Net.HttpClient,
  REST.Client,
  {{programName}}Client;

type
  TMainForm = class(TForm)
    FlowPanel1: TFlowPanel;
    Splitter1: TSplitter;
    {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
    btn{{operationId}}: TButton;{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
    Memo1: TMemo;
    Panel1: TPanel;
    edtToken: TLabeledEdit;

    {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
    procedure btn{{operationId}}Click(Sender: TObject);
    {{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}


  private
    { Private declarations }
    function getClient(): T{{programName}}Client;
    procedure hndAuthenticate(ARequest: TCustomRESTRequest; var ADone: Boolean);
  public
    { Public declarations }
  end;

var
  MainForm: TMainForm;

implementation

uses
   Generics.Collections,
   REST.Authenticator.OAuth,
   whizaxe.openapi.config,
   whizaxe.serialization{{#models}}{{#-first}},{{/-first}}{{#model}}
  {{classFilename}}{{/model}}{{^-last}}, {{/-last}}{{/models}};

{$R *.dfm}

function TMainForm.getClient(): T{{programName}}Client;
var
  lConfig: TOpenApiConfig;
begin
  lConfig := TOpenApiConfig.Create;
  lConfig.basePath := '{{#servers}}{{#-first}}{{url}}{{/-first}}{{/servers}}';
  lConfig.ignoreCertificateErrors := true;

  result := T{{programName}}Client.Create(lConfig);
  result.OnAuthenticate := hndAuthenticate;
end;

procedure TMainForm.hndAuthenticate(ARequest: TCustomRESTRequest; var ADone: Boolean);
begin
  // simple example for dynamically aquired token
  TOAuth2Authenticator(ARequest.Client.Authenticator).AccessToken := edtToken.Text;
  ADone := false;
end;

{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
procedure TMainForm.btn{{operationId}}Click(Sender: TObject);
{{^vendorExtensions.x-delphi-demo-code-client}}
var
  lClient: T{{programName}}Client;{{#returnType}}
  resp: {{{.}}};{{/returnType}}{{#allParams}}
  {{{paramName}}}: {{{dataType}}};{{/allParams}}
begin
  // TODO: initilize params

  {{#allParams}}
  // {{{baseName}}} := ;
  {{/allParams}}

  lClient := getClient();
  try
    {{#returnType}}
    {{#vendorExtensions.x-delphi-returns-model}}
    resp := nil;
    try
    {{/vendorExtensions.x-delphi-returns-model}}
      resp := lClient.{{operationId}}({{#allParams}} {{{paramName}}}, {{/allParams}}nil);
      {{^vendorExtensions.x-delphi-returns-model}}
      Memo1.Lines.Add(resp);
      {{/vendorExtensions.x-delphi-returns-model}}{{#vendorExtensions.x-delphi-returns-model}}
      Memo1.Lines.Add(TSerializer.SerializeObject(resp));
    finally
      resp.Free;
    end;
      {{/vendorExtensions.x-delphi-returns-model}}

    {{/returnType}}{{^returnType}}
    lClient.{{operationId}}({{#allParams}} {{{paramName}}}, {{/allParams}}nil);
    Memo1.Lines.Add('OK');
    {{/returnType}}

  finally
    lClient.Free;
    {{#allParams}}
    {{#isModel}}{{{paramName}}}.Free;{{/isModel}}
  {{/allParams}}

  end;
end;
{{/vendorExtensions.x-delphi-demo-code-client}}
{{{vendorExtensions.x-delphi-demo-code-client}}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

end.
