unit ClientMainForm;

interface

uses
  Winapi.Windows, Winapi.Messages, System.SysUtils, System.Variants, System.Classes, Vcl.Graphics,
  Vcl.Controls, Vcl.Forms, Vcl.Dialogs, VirtualTrees, Vcl.StdCtrls, Vcl.ExtCtrls,
  {{programName}}Client;

type
  TMainForm = class(TForm)
    FlowPanel1: TFlowPanel;
    {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
    btn{{operationId}}: TButton;{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

    {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
    procedure btn{{operationId}}Click(Sender: TObject);
    {{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

  private
    { Private declarations }
    function getClient(): T{{programName}}Client;
  public
    { Public declarations }
  end;

var
  MainForm: TMainForm;

implementation

{$R *.dfm}

function TMainForm.getClient(): T{{programName}}Client;
begin
  result := T{{programName}}Client.Create(nil);
end;

{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
procedure TMainForm.btn{{operationId}}Click(Sender: TObject);
var lClient: T{{programName}}Client;
begin
  lClient := getClient();
  //lClient.{{operationId}}();
  lClient.Free;
end;
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

end.
