object MainForm: TMainForm
  Left = 0
  Top = 0
  Caption = 'Demo App for {{programName}} Client'
  ClientHeight = 620
  ClientWidth = 880
  Color = clBtnFace
  Font.Charset = DEFAULT_CHARSET
  Font.Color = clWindowText
  Font.Height = -11
  Font.Name = 'Tahoma'
  Font.Style = []
  OldCreateOrder = False
  PixelsPerInch = 96
  TextHeight = 13
  object Splitter1: TSplitter
    Left = 0
    Top = 392
    Width = 880
    Height = 3
    Cursor = crVSplit
    Align = alBottom
    ExplicitTop = 0
    ExplicitWidth = 395
  end
  object FlowPanel1: TFlowPanel
    Left = 0
    Top = 0
    Width = 709
    Height = 336
    Align = alClient
    BevelEdges = []
    Caption = 'FlowPanel1'
    ShowCaption = False
    FlowStyle = fsTopBottomLeftRight
    TabOrder = 0{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
    object btn{{operationId}}: TButton
      AlignWithMargins = True
      Width = 180
      Height = 25
      Caption = '{{operationId}}'
      OnClick = btn{{operationId}}Click
    end{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
  end
  object Memo1: TMemo
    Left = 0
    Top = 461
    Width = 880
    Height = 271
    Align = alBottom
    Lines.Strings = (
      'Memo1')
    TabOrder = 1
    ExplicitLeft = 576
    ExplicitTop = 544
    ExplicitWidth = 185
  end
end
