object MainForm: TMainForm
  Left = 0
  Top = 0
  Caption = 'Demo App for {{programName}} Client'
  ClientHeight = 440
  ClientWidth = 880
  Color = clBtnFace
  Font.Charset = DEFAULT_CHARSET
  Font.Color = clWindowText
  Font.Height = -11
  Font.Name = 'Tahoma'
  Font.Style = []
  OldCreateOrder = False
  PixelsPerInch = 96
  TextHeight = 13
  object FlowPanel1: TFlowPanel
    Left = 0
    Top = 0
    Width = 709
    Height = 336
    Align = alClient
    BevelEdges = []
    Caption = 'FlowPanel1'
    ShowCaption = False
    FlowStyle = fsTopBottomLeftRight
    TabOrder = 0{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
    object btn{{operationId}}: TButton
      AlignWithMargins = True
      Width = 180
      Height = 25
      Caption = '{{operationId}}'
      OnClick = btn{{operationId}}Click
    end{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
  end
end
