{{>header_for_modifications}}

program {{programName}}ClientApp;

uses
  Vcl.Forms,
  ClientMainForm in 'ClientMainForm.pas' {MainForm},
  {{programName}}Client in '{{programName}}Client.pas',
  whizaxe.openapi.config,
  Model.ExtInfo in 'models\Model.ExtInfo.pas',
  ExtInfoSerializer in 'ExtInfoSerializer.pas', {{#models}}{{#model}}
  {{classFilename}} in 'models\{{classFilename}}.pas',{{/model}}{{/models}}{{#apiInfo}}{{#apis}}{{#operations}}
  {{classname}}Interface in 'apis\{{classname}}Interface.pas'{{^-last}}, {{/-last}}{{/operations}}{{/apis}}{{/apiInfo}};

{$R *.res}

begin
  ReportMemoryLeaksOnShutdown := true;
  Application.Initialize;
  Application.MainFormOnTaskbar := True;
  Application.CreateForm(TMainForm, MainForm);
  Application.Run;
end.
