program {{programName}}ClientApp;

uses
  Vcl.Forms,
  ClientMainForm in 'ClientMainForm.pas' {MainForm},
  {{programName}}Client in '{{programName}}Client.pas',
  whizaxe.openapi.config,{{#models}}{{#model}}
  {{classFilename}} in 'models\{{classFilename}}.pas',{{/model}}{{/models}}{{#apiInfo}}{{#apis}}{{#operations}}
  {{classname}}Interface in 'apis\{{classname}}Interface.pas',
  {{classname}} in 'apis\{{classname}}.pas'{{^-last}}, {{/-last}}{{/operations}}{{/apis}}{{/apiInfo}};

{$R *.res}

begin
  Application.Initialize;
  Application.MainFormOnTaskbar := True;
  Application.CreateForm(TMainForm, MainForm);
  Application.Run;
end.
